<div
  id="content"
  style="background-color: #f5f5f5; padding: 20px; width: 500px; margin: auto"
>
  <div
    id="main"
    style="border: 1px solid #cccccc; background-color: #ffffff; padding: 20px"
  >
    <h2>Best wishes!</h2>
    <p>
      Thank you for using our service. To begin the registration process, please
      enter the OTP code below:
    </p>
    <h4
      style="
        padding: 10px;
        background-color: #f5f5f5;
        text-align: center;
        font-weight: bold;
      "
    >
      {otp_code:}
    </h4>
    <p>Please note that this OTP code will expire after 5 minutes.</p>
    <p>
      If you need any assistance, please contact us via email at
      <a href="mailto:example@example.com">lovestory.service@gmail.com</a>.
    </p>
    <p>Have a great day!</p>
  </div>
  <div id="footer" style="font-size: 14px; color: #999999; padding-top: 10px">
    <p>
      This email is sent automatically by our system. Please do not reply to
      this email.
    </p>
  </div>
</div>
